.paymenthead {
    font-size: x-large;
    margin-top: 14px;
    margin-left: 85px;
}

.addressdisplay {
    display: flex;
    margin-left: 100px;
}

.ad {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.home-icon {
    width: 26px;

}

.wallet-icon {

    width: 37px;

}

.notepad-icon {

    width: 48px;

}

.paymentform {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    margin-left: 82px;
}

#delopt {
    width: 521px;
}

.robertfox {
    height: 87px;
    width: 233px;
    border: 2px solid black;
    border-radius: 10px;
}

.mobno {
    margin-top: 14px;
}

.pincode {
    margin-top: 14px;
}

#number {
    border-radius: 9px;
    border: 2px solid black;
    height: 39px;
    width: 558px;

}

.nametop {
    margin-top: 14px;

}

.houseflat {
    margin-top: 14px;

}

.areacolony {
    margin-top: 14px;

}

#name {
    border-radius: 9px;
    border: 2px solid black;
    height: 39px;
    width: 558px;

}

.deliverhere {
    height: 52px;
    list-style: none;
    text-decoration: none;
    background-color: black;
    padding: 11px;
    margin-top: 27px;
    color: white;
    width: 259px;
    border-radius: 13px;
}



.selectcity {
    width: 86px;
    margin-top: 13px;
}

#selectcity1 {
    border-radius: 9px;
    border: 2px solid black;
    height: 39px;
    width: 558px;


}

.continue {
    height: 52px;
    list-style: none;
    text-decoration: none;
    background-color: black;
    padding: 11px;
    margin-top: 27px;
    margin-bottom: 27px;
    color: whitesmoke;
    width: 259px;
    border-radius: 13px;

}

.searchi {
    top: 7px;
    left: 1333px;
    position: absolute;
    height: 26px;
    width: 28px;
}

.wishi {
    top: -6px;
    left: 1369px;
    position: absolute;
    width: 54px;
}

.carti {
    left: 1435px;
    position: absolute;
    top: 9px;
    height: 27px;
    width: 25px;
}

.cashcard {
    left: 936px;
    position: absolute;
    border: 2px solid black;
    width: 390px;
    height: 249px;

}

.subtotal {
    left: 40px;
    top: 14px;
    position: absolute;
    font-size: larger;
    font-weight: 700;
}

.subtotal1 {
    top: 16px;
    left: 290px;
    position: absolute;
    font-size: larger;
    font-weight: 700;
}

.hl1 {
    left: 21px;
    width: 348px;
    position: relative;
    top: 40px;

}

.discount {
    position: absolute;
    top: 57px;
    left: 41px;
}

#coupon {
    border: 2px solid black;
    border-radius: 8px;
    height: 47px;
    width: 316px;
    border: 2px solid black;

}

.discount button {
    color: white;
    background-color: black;
    left: 198px;
    top: 19px;
    position: absolute;
    text-decoration: none;
    height: 50px;
    width: 120px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;

}

.del {
    font-size: larger;
    left: 45px;
    position: absolute;
    top: 156px;
}

.del1 {
    font-size: larger;
    left: 293px;
    position: absolute;
    top: 156px;
}

.hl2 {
    left: 21px;
    width: 348px;
    position: relative;
    top: 183px;

}

.grandt {
    font-weight: 700;
    font-size: larger;
    left: 48px;
    position: absolute;
    top: 200px;

}

.grandt1 {
    font-weight: 700;
    font-size: larger;
    left: 293px;
    position: absolute;
    top: 201px;

}