:root {
  --font-inter: Inter, sans-serif;
  --font-size-xxl: 3rem;
  --color-black: #000;
  --color-white: #fff;
  --color-dark-gray: #3e3e3e;
  --gap-xxl: 2rem;
  --padding-xxl: 2rem;
  --border-radius-sm: 10px;
}

.desktop-15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xxl);
  background-color: var(--color-white);
}

.desktop-15-child {
  width: 70px;
  height: 5px;
  background-color: var(--color-black);
}

.just-drop {
  margin: var(--padding-xxl) 0;
  font-weight: 900;
  color: var(--color-black);
  font-size: var(--font-size-xxl);
  text-align: center;
}

.product-display {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap-xxl);
  padding: var(--padding-xxl);
  margin: var(--padding-xxl) 0;
}

.product-details-icon {
  flex-shrink: 0;
  width: 474px;
  height: 600px;
  border-radius: var(--border-radius-sm);
  object-fit: cover;
}

.follow-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.follow-us {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  font-size: 2rem;
  color: black;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007BFF; /* Change to your desired hover color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-display {
   
    align-items: center;
  }

  .product-details-icon {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  :root {
    --gap-xxl: 1rem;
    --padding-xxl: 1rem;
  }

  .just-drop {
    font-size: 2rem;
  }

  .social-icons a {
    font-size: 1.5rem;
  }

  .product-display {
    padding: var(--padding-xxl);
    margin: var(--padding-xxl) 0;
  }

  .product-details-icon {
    width: 100%;
    height: auto;
  }
}
