.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to left, #D0D1CA 50%, #ffffff 50%);
   /* Use 'fixed' if you want it always at the top */
  top: 0;
  z-index: 1000; /* Ensures the header is on top of other elements */
}
.header a{
  text-decoration: none;
}
.currency-header select {
  border: none;
  appearance: none;
  font-size: 1.15rem;

  color: #000;
  cursor: pointer;

}

.currency-header option {
  font-size: 22px;
}


.left-header-icons, .right-header-icons {
  display: flex;
  list-style-type: none;
  
}

.left-header-icons li, .right-header-icons li {
  padding: 0 10px;
}

.headinghdr {
  flex-grow: 1;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  padding-right:55px;
  z-index: 1001; /* Ensures the heading is on top of other elements */
}
.iconhdr{
  color: #000;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
   
    
  }

  .headinghdr {
    margin:0 0 0 45px;
    
    font-size: 30px;
   
    
  }

  .left-header-icons, .right-header-icons {
    justify-content: space-between;
    font-size: larger;
    width: 100%;
    
  }


 

  .left-header-icons li, .right-header-icons li {
    margin: 5px;
  }
}
@media (max-width: 576px) {
  .header {
    
    align-items: center;
    padding: 10px;
  }

  .headinghdr {
    font-size: 28px; /* Adjust the heading size for small screens */
   color: black;
   margin:0 0 0 45px; /* Center the heading more comfortably */
    text-align: center; /* Align heading to the left for small screens */
  }

  .left-header-icons, .right-header-icons {
    flex-direction: row; /* Stack the icons vertically */
     /* Align icons to the left */
    width: 100%;
  }

  .left-header-icons li, .right-header-icons li {
    margin: 5px 0; /* Space out the list items vertically */
  }

  .right-header-icons {
    margin-top: 10px; /* Add space between left and right sections */
  }
}


